### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/target/classes/model/Car.class
/target/classes/model/CarAgency.class
/target/classes/model/Engine.class
/target/classes/Main.class
/target/classes/model/Person.class
/target/maven-archiver/pom.properties
/target/classes/service/*.class
